<%- include('../partials/header', {title : 'Teachers'}) %>

    <body>
        <h1>List Teachers</h1>
        <a href="/baaks">Home Baaks</a> || <a href="/baaks/students">Students</a> || <a href="/baaks/add/teachers">Add Teachers</a> || <a href="/baaks/courses">Courses</a>
        <hr>
        <table border="1px">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>NIK</th>
                <th>Room Location</th>
                <th>Email</th>
                <th>Action</th>
            </tr>
            <% data.forEach(el => { %>
                <tr>
                    <td>
                        <%= el.id %>
                    </td>
                    <td>
                        <%= el.getfullName() %>
                    </td>
                    <td>
                        <%= el.nik %>
                    </td>
                    <td>
                        <%= el.room_location %>
                    </td>
                    <td>
                        <%= el.email %>
                    </td>
                    <td>
                        <a href="/baaks/<%= el.id %>/edit/teachers">Edit</a> ||
                        <a href="/baaks/<%= el.id %>/delete/teachers" onclick="return confirm('Are you sure you want to delete this Teacher?');">Delete</a>
                    </td>
                </tr>
                <% }) %>
        </table>
        <hr>
    </body>
    <%- include('../partials/footer') %>